[submodule "zsh/git-flow-completion"]
	path = zsh/git-flow-completion
	url = git://github.com/bobthecow/git-flow-completion.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/github-issues"]
	path = vim/bundle/github-issues
	url = https://github.com/jaxbot/github-issues.vim.git
